body{ /*body*/
    background-image: radial-gradient(rgb(255, 209, 5) 20%, black 120%);
    background-repeat: no-repeat;
    height: 140vh;
    margin: 0;
    color: white;
    margin-left: 0;
}

nav {
    background-color: rgb(17, 17, 17);
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-bottom: 1px white solid;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}
header{
    background-color: rgb(17, 17, 17);
    padding: 20px;
}
main{
    margin-left: 20vw;
}



